header {
    margin-bottom: 60px;
}

.banner {
    background: #c71a1a;
	height: 140px;
	line-height: 140px;
	text-align: center;
	font-size: 30px;

	a {
		color: white;

		&:hover {
			color: white;
		}
	}
}